[submodule "downstream"]
	path = downstream
	url = https://github.com/booldook/2019-sc-ui-js1.git
[submodule "2019-sc-ui-js1"]
	path = 2019-sc-ui-js1
	url = https://github.com/booldook/2019-sc-ui-js1.git
